
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
            </div>
          </div>

          <div class="inner cover">
			<%= image_tag("/assets/logo2.png", style:"width:600px")%>
			<center>
            <div style="width:600px; height:163px; margin-top:20px;">
			MySchoolPal has been developed by a dedicated team of serving teachers. Designed in response to the ever
			increasing importance and relevance of in year data to inform teaching decisions but with an overwhelming desire to ‘KEEP IT SIMPLE’.
			<br>
			<br>
			Simply use the excel template to enter group data and MySchoolPal does the rest.
			<br>
			<br>
			Try it FREE
            </div>
            <p class="lead">
			
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('Login', new_user_session_path, style: "width:90px", :class =>"btn btn-small btn-default") %>
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('About Us', static_pages_about_path, style: "width:90px" , :class => "btn btn-small btn-default") %>
					
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('Free Trial', static_pages_features_path, style: "width:90px", :class => "btn btn-small btn-warning") %>
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('Features', static_pages_features_path, style: "width:90px", :class => "btn btn-small btn-default") %>
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('Contact', static_pages_features_path, style: "width:90px" , :class => "btn btn-small btn-default") %>
				</div>
				<div class="col-md-1">
				</div>
			</div>
			  
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              
            </div>
          </div>

        </div>

      </div>

    </div>
