<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>MySchoolPal</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
            </div>
          </div>

          <div class="inner cover">
			
			<%= image_tag("/assets/logo2.png", style:"width:600px")%>
			<center>
		</div>
		</div>
            <div style="height:240px; margin-top:20px;">
			<br />
			<br />
			
			<div class="row">
				<div class="col-md-2 col-md-offset-2">
				<button class="button_link" data-toggle="modal" data-target="#tmModal">
					
					<%= image_tag("/assets/tm.png", class:"img_link img-rounded")%>
					<p class="feature_label">Transition Matrix</p>
				</button>
				</div>
				<div class="col-md-2">
					<button class="button_link" data-toggle="modal" data-target="#barChartModal">
					<%= image_tag("/assets/class_progress.png", class:"img_link img-rounded")%>
					<p class="feature_label">Individual Progress</p>
					</button>
				</div>
				<div class="col-md-2">
					<button class="button_link" data-toggle="modal" data-target="#targetModal">
					<%= image_tag("/assets/target_progress.png", class:"img_link img-rounded")%>
					<p class="feature_label">Target Data</p>
					</button>
				</div>
				<div class="col-md-2">
					<button class="button_link" data-toggle="modal" data-target="#levelsModal">
					<%= image_tag("/assets/levels_progress.png", class:"img_link img-rounded")%>
					<p class="feature_label">Levels of Progress</p>
					</button>
				</div>
            </div>
			</div>
	<div class="cover-container">
		<div class="inner cover">
            <p class="lead">
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('Login', new_user_session_path, style: "width:90px", :class =>"btn btn-small btn-default") %>
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('About Us', static_pages_about_path, style: "width:90px" , :class => "btn btn-small btn-default") %>
					
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('Free Trial', static_pages_features_path, style: "width:90px", :class => "btn btn-small btn-warning") %>
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('Features', static_pages_features_path, style: "width:90px", :class => "btn btn-small btn-default") %>
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('Contact', static_pages_features_path, style: "width:90px" , :class => "btn btn-small btn-default") %>
				</div>
				<div class="col-md-1">
				</div>
			</div>
			  
            </p>
          </div>
		</div>
	</div>
          <div class="mastfoot">
            <div class="inner">
              
            </div>	
          </div>

        </div>

      </div>

    </div>

	<!--Modals-->
	<div class="modal fade no-print"  id="tmModal" tabindex="-1" role="dialog" aria-labelledby="tmModalLabel" aria-hidden="true">
		<div class="modal-dialog print" style="width:90%">
			<div class="modal-content">
				<div class="modal-header no-print">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title no-print">Transition Matrix</h4>
				</div>
				<div class="modal-body">
					
						Hover over to instantly identify the levels of progress made by each pupil.
						<%= image_tag("/assets/tm_full.png")%>
						<br />
						<div class="row">
							<div class="col-md-2 col-md-offset-2">
								<div style="width:150px; height:20px; background-color:#F83F3F; border-radius:5px; color:#fff; font-weight:bold;">Below 2 levels</div>
							</div>
							<div class="col-md-2">
								<div style="width:150px; height:20px; background-color:#fABD3F; border-radius:5px; color:#fff; font-weight:bold;">+ 2 levels</div>
							</div>
							<div class="col-md-2">
								<div style="width:150px; height:20px; background-color:#52ED3A; border-radius:5px; color:#fff; font-weight:bold;">+ 3 levels</div>
							</div>
							<div class="col-md-2">
								<div style="width:150px; height:20px; background-color:#51AAC0; border-radius:5px; color:#fff; font-weight:bold;">Above 3 levels</div>
							</div>
						</div>
				<div class="modal-footer no-print">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	</div>
	
	<div class="modal fade"  id="barChartModal" tabindex="-1" role="dialog" aria-labelledby="barChartModal" aria-hidden="true">
		<div class="modal-dialog" style="width:90%">
			<div class="modal-content">
				<div class="modal-header" style="border:0px;">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Individual Progress</h4>
				</div>
				<div class="modal-body">
				<div>
					Compare each pupil's progress from any start point to their target. 
				</div>
					
				<%= image_tag("/assets/barChart.png")%>
					<div class="row">
							<div class="col-md-2 col-md-offset-3">
								<div style="width:150px; height:20px; background-color:#4BB2C5; border-radius:5px; color:#fff; font-weight:bold;">Start</div>
							</div>
							<div class="col-md-2">
								<div style="width:150px; height:20px; background-color:#EAA228; border-radius:5px; color:#fff; font-weight:bold;">Result</div>
							</div>
							<div class="col-md-2">
								<div style="width:150px; height:20px; background-color:#C5B47F; border-radius:5px; color:#fff; font-weight:bold;">Target</div>
							</div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	<div class="modal fade"  id="targetModal" tabindex="-1" role="dialog" aria-labelledby="barChartModal" aria-hidden="true">
		<div class="modal-dialog" style="width:90%">
			<div class="modal-content">
				<div class="modal-header" style="border:0px;">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Target Data</h4>
				</div>
				<div class="modal-body">
				<div>
					View how a groups of pupils are progressing towards their target grade. 
				</div>
					
				<%= image_tag("/assets/target.png")%>
					<div class="row">
							<div class="col-md-2 col-md-offset-3">
								<div style="width:150px; height:20px; background-color:#4BB2C5; border-radius:5px; color:#fff; font-weight:bold;">Start</div>
							</div>
							<div class="col-md-2">
								<div style="width:150px; height:20px; background-color:#EAA228; border-radius:5px; color:#fff; font-weight:bold;">Result</div>
							</div>
							<div class="col-md-2">
								<div style="width:150px; height:20px; background-color:#C5B47F; border-radius:5px; color:#fff; font-weight:bold;">Target</div>
							</div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade"  id="levelsModal" tabindex="-1" role="dialog" aria-labelledby="barChartModal" aria-hidden="true">
		<div class="modal-dialog" style="width:90%">
			<div class="modal-content">
				<div class="modal-header" style="border:0px;">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Levels of Progress</h4>
				</div>
				<div class="modal-body">
				<div>
					View how much progress a whole group of pupils have made compared to their start point. 
				</div>
					
				<%= image_tag("/assets/levels.png")%>
					<div class="row">
							<div class="col-md-2 col-md-offset-3">
								<div style="width:150px; height:20px; background-color:#4BB2C5; border-radius:5px; color:#fff; font-weight:bold;">Start</div>
							</div>
							<div class="col-md-2">
								<div style="width:150px; height:20px; background-color:#EAA228; border-radius:5px; color:#fff; font-weight:bold;">Result</div>
							</div>
							<div class="col-md-2">
								<div style="width:150px; height:20px; background-color:#C5B47F; border-radius:5px; color:#fff; font-weight:bold;">Target</div>
							</div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
	<script type="text/javascript" src="js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="js/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="js/bootstrap.js"></script>
  </body>
</html>