		<%= form_tag static_pages_matrix_path do %>
	<div class="row">
		<div class="col-md-4">
			<h3>Transition Matrix</h3>
		</div>
		<div class="col-md-8" style="padding-top:15px;">
			
			<%= submit_tag "Show Percentages", class: "btn btn-large btn-primary" %>
			<%= submit_tag "Show Numbers", class: "btn btn-large btn-primary" %>
			
		</div>
	</div>
<hr style="margin:4px;">		
<div class="row">
	<div class="col-md-3">
			<div class="row">
			<div class="col-md-6 text-center">
					<b>Name</b>
				</div>
				<div class="col-md-3 text-center">
					<b>KS1</b>
				</div>
				<div class="col-md-3 text-center">
					<b>Result</b>
				</div>

			</div>
			<%(1..10).each do |i|%>
			<%if params[("result"+i.to_s).to_sym]%>
				<%result = params[("result"+i.to_s).to_sym]%>
			<%else%>
				<%result = ''%>
			<%end%>
			<%if params[("name"+i.to_s).to_sym]%>
				<%name = params[("name"+i.to_s).to_sym]%>
			<%else%>
				<%name = ''%>
			<%end%>
			<%if params[("key_stage"+i.to_s).to_sym]%>
				<%key_stage = params[("key_stage"+i.to_s).to_sym]%>
			<%else%>
				<%key_stage = ''%>
			<%end%>
			<div class="row" style="margin-top:10px;">
				<div class="col-md-6 text-center">
					<%= text_field_tag ("name"+i.to_s).to_sym, name, class: "form-control"%>
				</div>
				<div class="col-md-3 text-center">
					<%= text_field_tag ("key_stage"+i.to_s).to_sym, key_stage , class: "form-control"%>
				</div>
				<div class="col-md-3 text-center">
				<%= text_field_tag ("result"+i.to_s).to_sym, result, class: "form-control" %>
				</div>
			</div>	
			<%end%>
			<div class="row text-center" style="margin-top:10px;">
			</div>
		<% end %>
	</div>

	<div class="col-md-9">
	<%test = Array.new%>
	<%@u = Array.new%>
		<%(3..26).each do |z|%>
			<%test[z] = Array.new%>
			<%(3..36).each do |i|%>
				<%test[z][i] = Array.new%>
			<%end%>					
		<%end%>
		<%result_aps = 5%>
		<%t_aps = 10%>
		
		<%total_pupils = Array.new%>
		<%(1..10).each do |j|%>
			<%(3..26).each do |z|%>
				<%(3..36).each do |i|%>
					<%if params[("key_stage"+j.to_s).to_sym] && params[("result"+j.to_s).to_sym] && params[("name"+j.to_s).to_sym]%>
						<%if !params[("key_stage"+j.to_s).to_sym].empty? && !params[("result"+j.to_s).to_sym].empty? && !params[("name"+j.to_s).to_sym].empty?%>
							<%if Result.where(grade: params[("result"+j.to_s).to_sym].downcase).first.aps ==i && Result.where(grade: params[("key_stage"+j.to_s).to_sym].downcase).first.aps ==z%>
								<%total_pupils << 1%>
								<%test[z][i] << params[("name"+j.to_s).to_sym] %>
							<%end%>		
						<%end%>
					<%end%>
				<%end%>				
			<%end%>
		<%end%>
		
	<%on_track= Array.new%>
				<%one_above= Array.new%>
				<%below= Array.new%>
				<%on_track = [49036,56580,64124,49062, 56610, 64158, 49088, 56640, 64192,71782 ,79338,
				86894,71820,79380, 86940,71858, 79422, 86986,94600,102168, 109736,94650, 102222,109794,
				94700,102276,109852,117490, 125070,132650,26376, 33912,41448,26390, 33930, 41470]%>
				
				<%one_above = [48984,56520,64056,49010,56550,64090,71668,79212,86756,71706,79254,86802,
				71744,79296,86848,94450,102006,109562,94500,102060,109620,94550,102114,109678,117304,
				124872,132440,117366,124938,132510,117428,125004,132580]%>
				<%below = [71896,79464,87032, 71934	,79506, 87078,71972, 79548, 87124,72010,79590,87170,94750,102330,109910] %>
				

				<table class="table table-striped table-hover table-bordered">
				<tr>
				<td>Grade</td>
				<td>W</td>
				<td>W</td>
				<td>1c</td>
				<td>1b</td>
				<td>1a</td>
				<td>2c</td>
				<td>2b</td>
				<td>2a</td>
				<td>3c</td>
				<td>3b</td>
				<td>3a</td>
				<td>4c</td>
				<td>4b</td>
				<td>4a</td>
				<td>5c</td>
				<td>5b</td>
				<td>5a</td>
				</tr>
				<%z=3%>
					<%while z<26 do %>
						
						<tr>
						
							<td>
								<%=Result.where(aps: z.to_i).first.grade%>
							</td>
						<%i=3%>
							<%while i<36 do%>
							<%x = i*(z+3765)%>
							<td style ="background-color:
							
							<%if on_track.include? x%>
							rgba(245,198,57,1)
							<%elsif one_above.include? x%>
							rgba(86,245,61,1)
							<%elsif x<64431%>
							rgba(245,59,59,1)
							<%elsif below.include? x%>
							rgba(245,59,59,1)
							<%elsif x>71591%>
							rgba(73,165,191,1)
							<%end%>				
							; width:5.6%">
								<%x%>
										<%if test[z][i].count>0%>
								<div class="tooltip_hover text-center" style="height:20px; " id="userdata" data-toggle="tooltip" data-original-title='<%test[z][i].each do |j|%><%=j%><br /><%end%><br />' data-html="true">						
								 <%t=test[z][i].count%>
								<%if params[:commit] =="Show Percentages"%><%=(t*100/total_pupils.count)%>%<%else%><%=t%><%end%>
								<br>
									</div>
								<%end%>
								<%i+=1%>
								<%if test[z][i].count>0%>
								<div class="tooltip_hover text-center" style="height:20px;" id="userdata" data-toggle="tooltip" data-original-title='<%test[z][i].each do |j|%><%=j%><br /><%end%><br />' data-html="true">						
								<%t=test[z][i].count%>
								<%if params[:commit] =="Show Percentages"%><%=(t*100/total_pupils.count)%>%<%else%><%=t%><%end%>
								<br>
									</div>
								<%end%>
							
								<%i=i-1%>
								<%z+=1%>
									<%if test[z][i].count>0%>
								<div class="tooltip_hover text-center" style="height:20px;" id="userdata" data-toggle="tooltip" data-original-title='<%test[z][i].each do |j|%><%=j%><br /><%end%><br />' data-html="true">						
								<%t=test[z][i].count%>
								<%if params[:commit] =="Show Percentages"%><%=(t*100/total_pupils.count)%>%<%else%><%=t%><%end%>
								<br>
									</div>
								<%end%>
								<%i+=1%>
									<%if test[z][i].count>0%>
								<div class="tooltip_hover text-center" style="height:20px;" id="userdata" data-toggle="tooltip" data-original-title='<%test[z][i].each do |j|%><%=j%><br /><%end%><br />' data-html="true">						
								<%t=test[z][i].count%>
								<%if params[:commit] =="Show Percentages"%><%=(t*100/total_pupils.count)%>%<%else%><%=t%><%end%>
								<br>
									</div>
								<%end%>
								<%z=z-1%>
								<%i+=1%>
							</td>
								
							<%end%>				
						<%z+=2%>
						</tr>
						
						
					<%end%>
				</table>		
		
	</div>
</div>	
</br>	

				<script>
$('body').tooltip({
    trigger: 'click',
	selector: '[id=userdata]',
	html: true,
	placement: 'top'
});

</script>