<p id="notice"><%= notice %></p>

<p>
  <strong>Wb:</strong>
  <%= @wb_week.wb_id %>
</p>

<p>
  <strong>Week:</strong>
  <%= @wb_week.week_id %>
</p>

<p>
  <strong>School:</strong>
  <%= @wb_week.school_id %>
</p>

<%= link_to 'Edit', edit_wb_week_path(@wb_week) %> |
<%= link_to 'Back', wb_weeks_path %>
