<%diff = Array.new%>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<ul class="nav nav-tabs" id="myTab">

			<li><%=link_to @class_name.class_name + ' - ' +  @subject , pupil_results_path(:class_id=>params[:class_id])%></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					Assessments<span class="caret"></span>
				</a>	
				<ul class="dropdown-menu">
						<%@locked_titles.each do |t|%>
							<li><%=link_to t.title, levels_progress_pupil_results_path(class_id: @class_id, col_id: t.col_id)%></li>
						<%end%>
						<%@titles.each do |t|%>
							<li><%=link_to t.title, group_analysis_path(class_id: @class_id, col_id: t.col_id, group_id: @group_id)%></li>
						<%end%>
					<li><%=link_to('Average', group_analysis_path(class_id: @class_id, group_id: @group_id, col_id: 'avg'))%></li>
				</ul>
			</li>
			
			<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					  Groups<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<%Group.all.each do |g|%>
							<li><%=link_to(g.group, group_analysis_path(class_id: @class_id, group_id: g.id, col_id: 'avg'))%></li>	
						<%end%>
					</ul>
				</li>
			
				
			
		</ul>
		
	</div>
</div>

<br />
<div class="row">
	<div class="col-xs-6 col-md-6">
		<div style="margin-top:10px; margin-bottom:10px;">
		<b>Group: <%=@group%></b>
		</div>
		<div class="row">
			<div class="col-xs-2 col-md-2  text-center">
				Surname
			</div>
			<div class="col-xs-2 col-md-2 text-center">
				Forename
			</div>
			<div class="col-xs-2 col-md-2 text-center">
				Target
			</div>
			<div class="col-xs-4 col-md-4 text-center">
				<%@t = TitleClass.where(:col_id => @col_id).where(:class_id=>@class_id).first%>						
				<%if @t %>
					<%=@t.title.slice(0..25)%>
				<%elsif @col_id == 'avg'%>
					Average
				<%else%>
				<%end%>
			</div>
		</div>

		<%@pupils.each do |p|%>
			<%if p.user%>	
				<%if p.user.user_classes.where(class_id: params[:class_id]).first%>
					<div class="row">
						<div class="col-xs-2 col-md-2 text-center">
							<%=link_to(p.user.user_info.surname, personal_analysis_path(user_id: p.user.user_info.user_id, class_id: @class_id))%>
						</div>
						<div class="col-xs-2 col-md-2 text-center">
							<%=link_to(p.user.user_info.forename, personal_analysis_path(user_id: p.user.user_info.user_id, class_id: @class_id))%>
						</div>
						
						<div class="col-xs-2 col-md-2 text-center">
							<%@t = p.user.user_targets.first%>
								<%if @t%>
									<%=@t.result.grade%>
								<%end%>
						</div>
							<%if @col_id == 'avg'%>
								<%avg = Array.new%>
								<%p.user.pupil_results.where(:class_id => @class_id).each do |r|%>
								<%avg << r.result.aps %>
								<%end%>
								<%if avg.size > 0%>
									<%avg_aps =(avg.inject{|sum,x| sum + x }.to_f/avg.size).round(0)%>
									<%if @t%>
										<% @difference = avg_aps - @t.result.aps%>
										<%diff << @difference%>
										<%case %>
											<%when @difference >0%>
												<div class="col-xs-4 col-md-4 text-center above_target cell_design">
											<%when @difference ==0%>
												<div class="col-xs-4 col-md-4 text-center on_target cell_design">
											<%when @difference <0 && @difference >=-2%>
												<div class="col-xs-4 col-md-4 text-center one_below_target cell_design">
											<%when @difference <-2%>
												<div class="col-xs-4 col-md-4 text-center below_target cell_design">
											<%else%>
											<div class="col-xs-4 col-md-4 text-center empty_result cell_design">	
										<%end%>
										<%= Result.where(aps: avg_aps).first.grade%>
									<%else%>
									<div class="col-xs-4 col-md-4 text-center empty_result cell_design">	
										<%= Result.where(aps: avg_aps).first.grade%>
									
									<%end%>

								<%else%>
									<div class="col-xs-4 col-md-4 text-center empty_result cell_design">	
										N/A
								<%end%>
								</div>
								
							<%else%>
							<%@r =p.user.pupil_results.where(col_id: @col_id).first%>
								<%if @r%>
									<%if @t%>	
										<% @difference = @r.result.aps - @t.result.aps%>
											<%diff << @difference%>
												<%case %>
													<%when @difference >0%>
														<div class="col-xs-4 col-md-4 text-center above_target cell_design">
													<%when @difference ==0%>
														<div class="col-xs-4 col-md-4 text-center on_target cell_design">
													<%when @difference <0 && @difference >=-2%>
														<div class="col-xs-4 col-md-4 text-center one_below_target cell_design">
													<%when @difference <-2%>
														<div class="col-xs-4 col-md-4 text-center below_target cell_design">
													<%else%>
														<div class="col-xs-4 col-md-4 text-center empty_result cell_design">	
												<%end%>
												<%=@r.result.grade %>
												</div>
									<%else%>
									<div class="col-xs-4 col-md-4 text-center empty_result cell_design">	
									<%=@r.result.grade %>
									</div>	
									<%end%>
								<%else%>
									<div class="col-xs-4 col-md-4 text-center empty_result"></div>
								<%end%>
								
							<%end%>
							
					</div>	
					<hr style="margin:4px;">
				<%end%>
			<%end%>
		<%end%>
	</div>
	<div class="col-xs-4 col-md-6 text-center">
		<br />
		<div id="chart1" style="width:450px; height:300px; display:block; margin-left:auto; margin-right:auto;"></div>
			
		
		
	</div>
</div>

<script>
$(document).ready(function(){
	var above = <%=diff.count{|x| x >0}%> ;
	var on_target = <%=diff.count{|x| x == 0}%> ;
	var one_below_target = <%=diff.count{|x| x == -1}%> + <%=diff.count{|x| x == -2}%>;
	var below_target = <%=diff.count{|x| x < -2}%> ;
  var data = [
    ['Above', above],['On Target', on_target], ['One Below Target', one_below_target], 
    ['Below Target', below_target]
  ];
  var plot1 = jQuery.jqplot ('chart1', [data], 
    { 
      title:'Achievement',
	  seriesDefaults: {
	  seriesColors: ["rgba(73,165,191,1)","rgba(78,230,55,1)","rgba(254,182,69,1)", "rgba(252,70,70,1)"],
        // Make this a pie chart.
        renderer: jQuery.jqplot.PieRenderer, 
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true
        }
      }, 
      legend: { show:true, location: 'e' },
	  highlighter: {
    show: true,
    formatString:'%s', 
    tooltipLocation:'sw', 
    useAxesFormatters:false
}
    }
  );
});
</script>