
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		Titles:
		<%(1..9).each do |k|%>
			<%@t = TitleClass.where(:col_id => k).where(:class_id=>@class_id).first%>						
			<%if @t%>
				<%if @t.title.size < 20%>
					<%=link_to(@t.title, group_analysis_path(class_id: @class_id, group_id: @group_id, col_id: k))%>
				<%else%>
					<%=link_to(@t.title.slice(0..20)+'....', group_analysis_path(class_id: @class_id, group_id: @group_id, col_id: k))%>
				<%end%>
				|
			<%end%>
		<%end%>
		<%=link_to('Average', group_analysis_path(class_id: @class_id, group_id: @group_id, col_id: 'avg'))%>
	</div>
</div>
<hr style="margin:2px;">

<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-2 col-md-offset-2 text-center">
				Surname
			</div>
			<div class="col-md-2 text-center">
				Forename
			</div>
			<div class="col-md-2 text-center">
				Target
			</div>
			<div class="col-md-4 text-center">
				<%@t = TitleClass.where(:col_id => @col_id).where(:class_id=>@class_id).first%>						
				<%if @t %>
					<%=@t.title.slice(0..25)%>
				<%elsif @col_id == 'avg'%>
					Average
				<%else%>
				<%end%>
			</div>
		</div>

		<%@pupils.each do |p|%>
			<%if p.user%>	
				<%if p.user.user_classes.where(class_id: params[:class_id]).first%>
					<div class="row">
						<div class="col-md-2 col-md-offset-2 text-center">
							<%=p.user.user_info.surname%>
						</div>
						<div class="col-md-2 text-center">
							<%=p.user.user_info.forename%>
						</div>
						
						<div class="col-md-2 text-center">
							<%@t = p.user.user_targets.first%>
								<%if @t%>
									<%=@t.result.grade%>
								<%end%>
						</div>
							<%if @col_id == 'avg'%>
								<%avg = Array.new%>
								<%p.user.pupil_results.where(:class_id => @class_id).each do |r|%>
								<%avg << r.result.aps %>
								<%end%>
								<%if avg.size > 0%>
									<%avg_aps =(avg.inject{|sum,x| sum + x }.to_f/avg.size).round(0)%>
									<%if @t%>
										<% @difference = avg_aps - @t.result.aps%>
										<%case %>
											<%when @difference >0%>
												<div class="col-md-4 text-center above_target cell_design">
											<%when @difference ==0%>
												<div class="col-md-4 text-center on_target cell_design">
											<%when @difference <0 %>
												<div class="col-md-4 text-center one_below_target cell_design">
											<%when @difference <-2%>
												<div class="col-md-4 text-center below_target cell_design">
											<%else%>
											<div class="col-md-4 text-center empty_result cell_design">	
										<%end%>
										<%= Result.where(aps: avg_aps).first.grade%>
									<%else%>
									<div class="col-md-4 text-center empty_result cell_design">	
										<%= Result.where(aps: avg_aps).first.grade%>
									</div>
									<%end%>

								<%else%>
									<div class="col-md-4 text-center empty_result cell_design">	
										N/A
								<%end%>
								</div>
								
							<%else%>
							<%@r =p.user.pupil_results.where(col_id: @col_id).first%>
								<%if @r%>
									<%if @t%>	
										<% @difference = @r.result.aps - @t.result.aps%>
												<%case %>
													<%when @difference >0%>
														<div class="col-md-4 text-center above_target cell_design">
													<%when @difference ==0%>
														<div class="col-md-4 text-center on_target cell_design">
													<%when @difference <0 %>
														<div class="col-md-4 text-center one_below_target cell_design">
													<%when @difference <-2%>
														<div class="col-md-4 text-center below_target cell_design">
													<%else%>
														<div class="col-md-4 text-center empty_result cell_design">	
												<%end%>
												<%=@r.result.grade %>
												</div>
									<%else%>
									<div class="col-md-4 text-center empty_result cell_design">	
									<%=@r.result.grade %>
									</div>
									<%end%>
								<%else%>
									<div class="col-md-4 text-center empty_result"></div>
								<%end%>
							<%end%>
					</div>	
				<%end%>
			<%end%>
		<%end%>
	</div>
	<div class="col-md-6 text-center">
		<h3> Graph </h3>
	</div>
</div>
<%=link_to('Back', pupil_results_path(class_id: @class_id))%>