<%= form_for(@pupil_result) do |f| %>
  <% if @pupil_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pupil_result.errors.count, "error") %> prohibited this pupil_result from being saved:</h2>

      <ul>
      <% @pupil_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :class_id %><br>
    <%= f.number_field :class_id %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.text_field :result %>
  </div>
  <div class="field">
    <%= f.label :col_id %><br>
    <%= f.number_field :col_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
