<%@u.each do |p|%>
<%if a = p.user_info%>
	<div class="row">
		<div class="col-xs-2">
			<%=a.surname%>
		</div>
		<div class="col-xs-2">
			<%=a.forename%>
			<%=Result.where(id: a.ks2_maths).first.grade%>
		</div>
		<div class="col-xs-2">
			<%if t = p.user_targets.where(subject_id: @subject_id).first%>
				<%=t.result.grade%>
			<%end%>
		</div>
		
		<div class="col-xs-2">
			<%=p.pupil_results.where(col_id: @col_id).joins(:class_name).where("class_names.subject_id" => @subject_id.to_i).each do |r|%>
			
			
			<%end%>
			
			
		</div>
		<div class="col-xs-2">
			
			
		</div>
	</div>

<%end%>		
<%end%>
<br />

<%=@pupils%>
