
	<ul class="nav nav-tabs" id="myTab">

			<li><%=link_to @class_name.class_name + ' - ' +  @subject , my_results_pupil_results_path(:class_id=>params[:class_id], locked: @locked)%></li>
			<%if @locked == true%>
			<li class="active"><%=link_to('Show Locked Columns', my_results_pupil_results_path(user_id: @user_id, class_id: @class_id, locked: true))%></li>
			<li><%=link_to('Show Unlocked Columns', my_results_pupil_results_path(user_id: @user_id, class_id: @class_id, locked: false))%></li>
			<%else%>
			<li><%=link_to('Show Locked Columns', my_results_pupil_results_path(user_id: @user_id, class_id: @class_id, locked: true))%></li>
			<li class="active"><%=link_to('Show Unlocked Columns', my_results_pupil_results_path(user_id: @user_id, class_id: @class_id, locked: false))%></li>
			
			<%end%>
	</ul>
<%if !@pupil_results.empty?%>
	<div style="margin-top:20px; margin-bottom:20px;">
	<%= @pupil.user_info.forename%>
	<%= @pupil.user_info.surname%>
	| Target: 
	<%@t=@pupil.user_targets.first%>
	<%if @t%>
		<%=@t.result.grade%> |
		APS: <%=@t.result.aps%>
	<%end%>
</div>
<%avg = Array.new%>
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<%(0..9).each do |i|%>
				<div class="row">
					<%((i*6+1)..(i*6+6)).each do |k|%>
						<div class="col-xs-2 col-md-2 text-center">
							<%@title =@titles.where(col_id: k).first%>
							<%if @title %>
								<%=@title.title%>
							<%end%>
						</div>
					<%end%>
				</div>
				

				<div class="row">
					<%((i*6+1)..(i*6+6)).each do |k|%>
						<%@r = @pupil_results.where(col_id: k).first%>
						<%if @r && @t%>
							<% @difference = @r.result.aps - @t.result.aps%>
								<%case %>
									<%when @difference >0%>
										<div class="col-xs-2 col-md-2 text-center above_target cell_design">
									<%when @difference ==0%>
										<div class="col-xs-2 col-md-2 text-center on_target cell_design">
									<%when @difference <0 && @difference >=-2%>
										<div class="col-xs-2 col-md-2 text-center one_below_target cell_design">
									<%when @difference <-2%>
										<div class="col-xs-2 col-md-2 text-center below_target cell_design">
									<%else%>
										<div class="col-xs-2 col-md-2 text-center empty_result cell_design">	
								<%end%>
									<%=@r.result.grade%>
									| <%=@r.result.aps%>
									<%avg << @r.result.aps%>
										</div>
						<%else%>
							<%if @r%>
								<div class="col-xs-2 col-md-2 text-center empty_result cell_design">
								<%=@r.result.grade%>
								| <%=@r.result.aps%>
									<%avg << @r.result.aps%>								
								</div>	
							<%end%>
						<%end%>	
					<%end%>
				</div>
				<hr style="margin:2px">
			<%end%>
		<br/>
		
			<div class="row">
				<div class="col-xs-2 col-md-2">
					Average:
				</div>
				<%if avg.size > 0%>
					<%avg_aps =(avg.inject{|sum,x| sum + x }.to_f/avg.size).round(0)%>
						<%if @t%>
							<% @difference = avg_aps - @t.result.aps%>
								<%case %>
									<%when @difference >0%>
										<div class="col-xs-2 col-md-2 text-center above_target cell_design">
									<%when @difference ==0%>
										<div class="col-xs-2 col-md-2 text-center on_target cell_design">
									<%when @difference <0 && @difference >=-2 %>
										<div class="col-xs-2 col-md-2 text-center one_below_target cell_design">
									<%when @difference <-2%>
										<div class="col-xs-2 col-md-2 text-center below_target cell_design">
									<%else%>
										<div class="col-xs-2 col-md-2 text-center empty_result cell_design">	
									<%end%>
											<%= Result.where(aps: avg_aps).first.grade%>
											| <%= Result.where(aps: avg_aps).first.aps%>
						<%else%>
										<div class="col-xs-2 col-md-2 text-center empty_result cell_design">	
											<%= Result.where(aps: avg_aps).first.grade%>
											| <%= Result.where(aps: avg_aps).first.aps%>
						<%end%>
										</div>
				<%else%>
					<div class="col-xs-2 col-md-2 text-center">
					</div>
				<%end%>
			</div>
		</div>
<%else%>
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<p>
				There are no results for 
				<%=UserInfo.where(user_id: @user_id).first.forename%> 
				<%=UserInfo.where(user_id: @user_id).first.surname%>
				for 
				<%=ClassName.where(id: @class_id).first.class_name%>
			</p>
		</div>
<%end%>
		
<script type='text/javascript'>
    var aps = '<%=avg_aps%>'
	$(document).ready(function () {
	if (aps>0 && aps<54)
	{
    $("#chart1").hide();
	$("#no_data").hide();
	}
	else if (aps>79)
	{
	$("#chart2").hide();
	$("#no_data").hide();
	}
	else if (aps==0)
	{
	$("#chart2").hide();
	$("#chart1").hide();
	}
});
</script>
		<div class="col-xs-6 col-md-6 text-center">
		
		
			<div id="chart2" style="width:550px; height:350px;"></div>
			<div id="chart1"  style="width:550px; height:350px;"></div>
			<div id="no_data" style="width:550px;">No Data</div>
		</div>
	</div>

</div>

		
<script>
$(document).ready(function(){
  var line1 = [
  <%(1..12).each do |k|%>
  <%@r = @pupil_results.where(col_id: k).first%>
  <%@title =@titles.where(col_id: k).first%>
			<%if @title && @r%>		
  ['<%=@title.title%>', <%=@r.result.aps-80%>],<%end%>  
  <%end%>
];
  var line2 = [
  <%(1..12).each do |k|%>
  <%@r = @pupil_results.where(col_id: k).first%>
  <%@title =@titles.where(col_id: k).first%>
  <%if @title && @r%>		
  ['<%=@title.title%>', <%if @t%><%=@t.result.aps-80%><%end%>],
  <%end%>  
  <%end%>
  ];
 
	 tickFormatter = function (format, val) { 
	 if(val==8)
	 {return "A*";}
	else if(val==7)
	 {return "A";}
	 else if(val==6)
	 {return "B";}
	 else if(val==5)
	 {return "C";}
	 else if(val==4)
	 {return "D";}
	 else if(val==3)
	 {return "E";}
	 else if(val==2)
	 {return "F";}
	 else if(val==1)
	 {return "G";}
	 else if(val==0)
	 {return "U";}
  }
  
  var plot1 = $.jqplot('chart1', [line1, line2], {
    series:[{renderer:$.jqplot.BarRenderer}, {xaxis:'x2axis', yaxis:'y2axis'}],
	title:'Assessment Results ',
    axesDefaults: {
		min: 0,
		max: 8,
        tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
        tickOptions: {
          angle: -90
        }
    },
    axes: {
      xaxis: {
        renderer: $.jqplot.CategoryAxisRenderer,
		label:'Assessment Titles', 
          labelOptions:{
            fontFamily:'Helvetica',
            fontSize: '12pt'
          },
      },
      x2axis: {
        renderer: $.jqplot.CategoryAxisRenderer,
		tickOptions: {
          show: false,
		  showLabel: false,
		  textColor: '#ffffff'
        },
				  showTicks: false,
				    showTickMarks: false
      },
      yaxis: {
         label: 'Grade',
                labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
		  tickOptions: {
		  formatter: tickFormatter,
		  angle: 0,
		  },
		   tickInterval : 1,
		  
      },
      y2axis: {
        autoscale:true,
		tickOptions: {
		  formatter: tickFormatter,
		  angle: 0,
		  },
		  tickInterval : 1,
      }
    },
	 highlighter: {
        show: true,
        sizeAdjust: 7.5,
		tooltipAxes: 'y',
		formatString: 'Grade: %s'
      }
      

  });
});
</script>
<script>
$(document).ready(function(){
  var line1 = [['Cup Holder Pinion Bob', 7], ['Generic Fog Lamp', 9], ['HDTV Receiver', 15], 
  ['8 Track Control Module', 12], [' Sludge Pump Fourier Modulator', 3], 
  ['Transcender/Spice Rack', 6], ['Hair Spray Danger Indicator', 18]];
  var line2 = [['Nickle', 28], ['Aluminum', 13], ['Xenon', 54], ['Silver', 47], 
  ['Sulfer', 16], ['Silicon', 14], ['Vanadium', 23]];
 
  var plot2 = $.jqplot('chart2', [line1, line2], {
    series:[{renderer:$.jqplot.BarRenderer}, {xaxis:'x2axis', yaxis:'y2axis'}],
    axesDefaults: {
        tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
        tickOptions: {
          angle: 30
        }
    },
    axes: {
      xaxis: {
        renderer: $.jqplot.CategoryAxisRenderer
      },
      x2axis: {
        renderer: $.jqplot.CategoryAxisRenderer
      },
      yaxis: {
        autoscale:true
      },
      y2axis: {
        autoscale:true
      }
    }
  });
});
</script>