<%test = Array.new%>
	<%if current_user.school.secondary == true%>
		<%(3..36).each do |z|%>
			<%test[z] = Array.new%>
			<%(81..88).each do |i|%>
				<%test[z][i] = Array.new%>
			<%end%>					
		<%end%>
	<%end%>
	<%if current_user.school.primary == true%>
		<%(3..26).each do |z|%>
			<%test[z] = Array.new%>
			<%(3..36).each do |i|%>
				<%test[z][i] = Array.new%>
			<%end%>					
		<%end%>
	<%end%>

<div class="row">
	<ol class="breadcrumb">
	<%if @subject_id%>
		<li><%if s = Subject.where(id: @subject_id).first%><%=link_to s.subject,  year_analysis_pupil_results_path(subject_id:@subject_id)%><%end%></li>
	<%else%>
		<p class="text-danger" style="margin:0px;">Select a Subject</p>
	<%end%>
	  <%if @year_id%>
		<li><%=link_to 'Year ' + @year_id,  year_analysis_pupil_results_path(subject_id:@subject_id,year_id: @year_id, locked:@locked)%></li>
		<%else%>
		<p class="text-danger" style="margin:0px;">Select a Year</p>
	  <%end%>
	  <%if @key_stage%>
		<li><%=link_to @key_stage.to_s.upcase,  year_analysis_pupil_results_path(subject_id:@subject_id, year_id:@year_id, key_stage:@key_stage, locked:@locked)%></li>
	  <%end%>
	  <%if @group_id%>
		<li><%if g = Group.find(@group_id)%><%=link_to g.group,  year_analysis_pupil_results_path(subject_id:@subject_id, year_id:@year_id, key_stage:@key_stage,group_id:@group_id, locked:@locked)%><%end%></li>
	  <%end%>
	  <%if @col_id%>
		<li><%=link_to "Assessment " + @col_id,  year_analysis_pupil_results_path(subject_id:@subject_id, year_id:@year_id, key_stage:@key_stage,group_id:@group_id, col_id: @col_id, locked:@locked)%></li>
		<%else%>
		<p class="text-danger" style="margin:0px;">Select an Assessment</p>
	  <%end%>
	  <%if @class_id%>
		<li><%if c = ClassName.find(@class_id)%><%=link_to c.class_name,  year_analysis_pupil_results_path(subject_id:@subject_id, year_id:@year_id, key_stage:@key_stage,group_id:@group_id, col_id: @col_id, locked:@locked, class_id:@class_id)%><%end%></li>
	  <%end%>
	</ol>
</div>
			<ul class="nav nav-tabs" id="myTab">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				  Subject<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<%Subject.where(school_id: current_user.school_id).each do |s|%>
						<%if s == @subject_id.to_i%>
							<li class="active"><%=link_to s.subject, year_analysis_pupil_results_path(year_id: @year_id, subject_id: s.id, class_id: @class_id, col_id: @col_id, key_stage:@key_stage)%></li>
						<%else%>
							<li><%=link_to s.subject, year_analysis_pupil_results_path(year_id: @year_id, subject_id: s.id, class_id: @class_id, col_id: @col_id, key_stage:@key_stage)%></li>
						<%end%>
					<%end%>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				  Year<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<%@year.each do |y|%>
						<%if y == @year_id.to_i%>
							<li class="active"><%=link_to 'Year ' + y.to_s, year_analysis_pupil_results_path(year_id: y, subject_id: @subject_id, class_id: @class_id, col_id: @col_id, key_stage:@key_stage)%></li>
						<%else%>
							<li><%=link_to 'Year ' + y.to_s, year_analysis_pupil_results_path(year_id: y, subject_id: @subject_id, class_id: @class_id, col_id: @col_id, key_stage:@key_stage)%></li>
						<%end%>
					<%end%>
				</ul>
			</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			  Key Stage Comparison<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<%if current_user.school.primary == true%>
					<li><%=link_to 'KS1 Maths', year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id, group_id: @group_id, col_id: @col_id, key_stage:'ks1_maths')%></li>
					<li><%=link_to 'KS1 English', year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id, group_id: @group_id, col_id: @col_id, key_stage:'ks1_english')%></li>
					<li><%=link_to 'KS1 Reading', year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id, group_id: @group_id, col_id: @col_id, key_stage:'ks1_reading')%></li>
					<li><%=link_to 'KS1 Writing', year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id, group_id: @group_id, col_id: @col_id, key_stage:'ks1_writing')%></li>
					<li><%=link_to 'KS1 Average', year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id, group_id: @group_id, col_id: @col_id, key_stage:'ks1_avg')%></li>
				<%elsif current_user.school.secondary == true%>
					<li><%=link_to 'KS2 Maths', year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id, group_id: @group_id, col_id: @col_id, key_stage:'ks2_maths')%></li>
					<li><%=link_to 'KS2 English', year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id, group_id: @group_id, col_id: @col_id, key_stage:'ks2_english')%></li>
					<li><%=link_to 'KS2 Average', year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id, group_id: @group_id, col_id: @col_id, key_stage:'ks2_avg')%></li>
				<%end%>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			  Groups<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
					<%@groups.each do |g|%>
						<li><%=link_to g.group, year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id,group_id: g.id, col_id: @col_id, key_stage:@key_stage)%></li>
					<%end%>
					<li><%=link_to 'All Pupils', year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id, col_id: @col_id, key_stage:@key_stage)%></li>
			</ul>
		</li>
		
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			  Assessments<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
					<%(1..50).each do |t|%>
						<li><%=link_to 'Assessment ' + t.to_s, year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id, group_id: @group_id, col_id: t, key_stage:@key_stage)%></li>
					<%end%>
			</ul>
		</li>
		
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			  Classes<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
					<%@classes.each do |c|%>
						<li><%=link_to c.class_name, year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: c.id, group_id: @group_id, col_id: @col_id, key_stage:@key_stage)%></li>
					<%end%>
					<li><%=link_to 'All Classes', year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, group_id: @group_id, col_id: @col_id, key_stage:@key_stage)%></li>
			</ul>
		</li>
		<%if @locked == true%>
		<li><%=link_to 'Hide Fixed Assessments', year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id, locked: false, group_id: @group_id, col_id: @col_id, key_stage:@key_stage)%></li>
		<%else%>
		<li><%=link_to 'Show Fixed Assessments', year_analysis_pupil_results_path(year_id: @year_id, subject_id: @subject_id, class_id: @class_id,locked:true, group_id: @group_id, col_id: @col_id, key_stage:@key_stage)%></li>
		<%end%>
		<li><a href="#" onclick="window.print();return false;">Print</a> </li>
		
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			Charts<span class="caret"></span>
		</a>	
		<ul class="dropdown-menu">
					
			
			<%if current_user.school.primary == true%>
					<li><a data-toggle="modal" href="#KS1_KS5_tc">Comparison to Targets</a></li>
					<li><a data-toggle="modal" href="#pie_chart_targets">Pie Chart Targets</a></li>
					<li><a data-toggle="modal" href="#pie_chart_level">Pie Chart Levels</a></li>
				<li><a data-toggle="modal" href="#ks1_matrix_modal">KS1-2 Matrix Modal</a></li>
			<%end%>
			<%if current_user.school.secondary == true%>
			<li><a data-toggle="modal" href="#KS1_KS5_tc">Comparison to Targets KS3</a></li>
			<li><a data-toggle="modal" href="#pie_chart_targets">Pie Chart Targets</a></li>
			<li><a data-toggle="modal" href="#pie_chart_level">Pie Chart Levels</a></li>
			<li><a data-toggle="modal" href="#ks4_matrix_modal">KS2-4 Transition Matrix</a></li>
			<%end%>
		</ul>
	</li>
		</ul>
		
<div class="row-fluid" style="margin-top:20px;">
	<div class="col-md-12 col-xs-12">
		<table class="table table-striped table-hover">
			<th>
			Surname
			</th>
			<th>
			Forename
			</th>
			<th>
			Target
			</th>
			<th>
			Result
			</th>
			<th>
			Levels of Progress
			</th>
		
		<%i=1%>
		<%aps = Array.new%>
		<%@u.each do |p|%>
			<%if a = p.user_info%>
			<%if r = p.pupil_results.where(col_id: @col_id).where(locked: @locked).joins(:class_name).where("class_names.subject_id" => @subject_id).first%>
				<tr>
					<td>
						<% if current_user.user_info.governor == true%>
							Pupil <%=i%>
						<%else%>
							<%=link_to( p.user_info.surname, personal_analysis_path(user_id: a.user_id, class_id: p.user_classes.joins(:class_name).where("class_names.subject_id = ?", @subject_id).first.class_id, locked:@locked))%>
						<%end%>
						<%i+=1%>
					</td>
					<td>
						<% if current_user.user_info.governor == true%>
							
						<%else%>
							<%=link_to( p.user_info.forename, personal_analysis_path(user_id: a.user_id, class_id: p.user_classes.joins(:class_name).where("class_names.subject_id = ?", @subject_id).first.class_id, locked:@locked))%>
						<%end%>
					</td>
					<td>
						<%if t = p.user_targets.where(subject_id: @subject_id).first%>
							<%if @aps == true%>
								<%=t.result.aps%>
							<%else%>
								<%=t.result.grade%>
							<%end%>
						<%end%>
					</td>
					
						<%if t%>
						
							
								<%@difference = r.result.aps - t.result.aps%>
								
											<%case %>
												<%when @difference >0%>
													<td class="text-center above_target cell_design">
													<%@above << 1%>
												<%when @difference ==0%>
													<td class="text-center on_target cell_design">
													<%@on_track << 1%>
												<%when @difference <0 && @difference >=-2 %>
													<td class="text-center one_below_target cell_design">
													<%@one_below << 1%>
												<%when @difference <-2%>
													<td class="text-center below_target cell_design">
													<%@below << 1%>
												<%else%>
													<td class="text-center empty_result cell_design">	
											<%end%>
														<%=r.result.grade %>
														
														<%aps << r.result.aps%>
													</td>
													
						<%else%>
									<td class="text-center empty_result">
									<%if @r%>
									<%if @aps == true%>
										<%=r.result.aps %>
									<%else%>
										<%=r.result.grade %>
									<%end%>
									
									<%aps << r.result.aps%>
									<%end%>
									</td>
									
									
						<%end%>
						

						
					
					<td>
							
						<%if current_user.school.primary == true%>
							<%if params[:key_stage] == "ks1_maths"%>
								<%k = Result.where(id: a.ks1_maths).first%>
							<%elsif @key_stage == "ks1_writing"%>
								<%k = Result.where(id: a.ks1_writing).first%>
							<%elsif @key_stage == "ks1_reading"%>
								<%k = Result.where(id: a.ks1_reading).first%>
							<%elsif @key_stage == "ks1_avg"%>
								<%ks1_av = Array.new%>
								<%if Result.where(id: a.ks1_reading).first%>
									<%ks1_av << Result.where(id: a.ks1_maths).first.aps%>
								<%end%>
								<%if Result.where(id: a.ks1_reading).first%>
									<%ks1_av << Result.where(id: a.ks1_maths).first.aps%>
								<%end%>
								<%if Result.where(id: a.ks1_reading).first%>
									<%ks1_av << Result.where(id: a.ks1_maths).first.aps%>
								<%end%>
								<%if Result.where(id: a.ks1_reading).first%>
									<%ks1_av << Result.where(id: a.ks1_maths).first.aps%>
								<%end%>
								
								<%j = (ks1_av.inject{ |sum, el| sum + el }.to_f / ks1_av.size).round%>
								<%k = Result.where(aps: j).first%>
							<%else @key_stage == "ks1_english"%>
								<%k = Result.where(id: a.ks1_english).first%>
							<%end%>
							
							
							
						<%elsif current_user.school.secondary == true%>
							<%if @key_stage == "ks2_maths"%>
								<%k = Result.where(id: a.ks2_maths).first%>	
							<%elsif @key_stage == "ks2_english"%>
								<%k = Result.where(id: a.ks2_english).first%>
							
							<%elsif @key_stage == "ks2_avg"%>
								<%ks2_av = Array.new%>
								<%if Result.where(id: a.ks2_english).first%>
									<%ks2_av << Result.where(id: a.ks2_english).first.aps%>
								<%end%>
								<%if Result.where(id: a.ks2_maths).first%>
									<%ks2_av << Result.where(id: a.ks2_maths).first.aps%>
								<%end%>
								<%j = (ks2_av.inject{ |sum, el| sum + el }.to_f / ks2_av.size).round%>
								<%k = Result.where(aps: j.to_i).first%>
								<%end%>
						<%end%>
							
							
							<%if k %>
							
								<%if r %>
									<%k.aps%>
									<%r.result.aps%>
									<%diff = r.result.aps- k.aps%>
										<%if current_user.school.secondary == true%>								
										<%(3..36).each do |z|%>
											<%(81..88).each do |i|%>
													<%if r.result.aps ==i && k.aps ==z%>
													<%test[z][i] << link_to( p.user_info.surname+" "+p.user_info.forename, personal_analysis_path(user_id: a.user_id, class_id: p.user_classes.joins(:class_name).where("class_names.subject_id = ?", @subject_id).first.class_id, locked:@locked)) %>
													<%end%>		
											<%end%>				
										<%end%>
									<%end%>
									<%if current_user.school.primary == true%>								
										<%(3..26).each do |z|%>
											<%(3..36).each do |i|%>
												<%if r.result.aps ==i && k.aps ==z%>
												
													<%test[z][i] << link_to( p.user_info.surname+" "+p.user_info.forename, personal_analysis_path(user_id: a.user_id, class_id: p.user_classes.joins(:class_name).where("class_names.subject_id = ?", @subject_id).first.class_id, locked:@locked)) %>
												<%end%>		
											<%end%>				
										<%end%>
									<%end%>
										<%if r.result.aps >80%>
											
											<%(7..53).step(6).each do |n|%>
												<%if k.aps >=n && k.aps <=n+5%>
												
													<%j=79+((n-7)/6)%>
													<%(81..88).each do |i|%>
														<%if r.result.aps == i%>
															<%= level = i-j%> levels
															<% @levels << level%>
														<%end%>
													<%end%>
												<%end%>
											
											<%end%>
										<%end%>
										
										<%if r.result.aps <54%>
											<%if diff == 0%>
												No Progress
											<%end%>
											<%if diff == 1 || diff==2%>
												+1
											<%end%>
											<%(3..50).step(2).each do |i|%>
												<%if diff==i || diff==i+1%>
													+ <%=((i+1)/2)%> 
												<%end%>
												<%if diff==(i*-1) || diff==((i+1)*-1)%>
													<%=(((i+1)/2)*-1)%> 
												<%end%>
												<%i=+2%>
											<%end%>
											<% @levels << (diff/2)%>
										<%end%>
									
								<%end%>
							<%end%>
						</td>
						<%end%>
				</tr>
			<%end%>		
		<%end%>
		
						<%if !aps.empty?%>
				<%avg_aps =(aps.inject{|sum,x| sum + x }.to_f/aps.size).round(0)%>
			<%end%>
</table>

<div class="modal fade" id="KS1_KS5_tc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:850px;">
		<div class="modal-content">
			<div class="modal-header">
				<a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
				<h4 class="modal-title">Comparison to Target Grade</h4>
			</div>
			<div class="modal-body">
				<br />
				<div id="chart1" style="width:800px; height:500px; margin-top:-40px; margin-left:auto; margin-right:auto;"></div>
			<div id="chart2" style="width:550px; height:520px;  margin-top:-40px; margin-left:auto; margin-right:auto;"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>

<div class="modal fade" id="pie_chart_targets" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:850px;">
		<div class="modal-content">
			<div class="modal-header">
				<a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
				<h4 class="modal-title">Comparison to Target Grade</h4>
			</div>
			<div class="modal-body">
				<br />
				<div id="pie_chart" style="width:650px; height:350px;  margin-left:auto; margin-right:auto;"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>


<div class="modal fade" id="pie_chart_level" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:850px;">
		<div class="modal-content">
			<div class="modal-header">
				<a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
				<h4 class="modal-title">Numbers of levels of Progress</h4>
			</div>
			<div class="modal-body">
				<br />
				<div id="pie_chart_levels" style="width:650px; height:350px;  margin-left:auto; margin-right:auto;"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>

</div>

</div>


	<%if current_user.school.secondary == true%>
			
			<div class="modal fade" id="ks4_matrix_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:850px;">
		<div class="modal-content">
			<div class="modal-header">
				<a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
				<h4 class="modal-title">KS2 - KS4 Transition Matrix</h4>
			</div>
			<div class="modal-body">


			<%on_track= Array.new%>
			<%one_above= Array.new%>
			<%below= Array.new%>
			<%on_track = [308976, 309140, 309304, 309468, 309632, 313574, 313740, 313906, 317856,318024,318192,322150,322320,322490,326456,326628,326800]%>
			
			<%one_above = [312744,	312910,	313076,	313242,	313408,	317352,	317520,	317688,	321640,	321810,	321980,	325940,	326112,	326284, 330252,330426,330600]%>
			<%below = [305208,	305370,	305532,	305694,	305856,	306018,	306180,	306342,	306504,	306666,	306828,	306990,	307152,
			307314,	307476,	307638,	307800,	309796,	309960,	310124,	310288,	310452,	310616,	310780,	310944,	311108,	311272,	311436,	
			311600,	314072,	314238,	314404,	314570,	314736,	314902,	315068,	315234,	315400,	318360,	318528,	318696,	
			318864,	319032,	319200,	322660,	322830,	323000,	323000] %>
			
			<table class="table table-striped table-hover table-bordered">
			<tr>
			<td>Grade</td>
			<td>G</td>
			<td>F</td>
			<td>E</td>
			<td>D</td>
			<td>C</td>
			<td>B</td>
			<td>A</td>
			<td>A*</td>
			</tr>
			<%z=3%>
				<%while z<37 do %>
					
					<tr>
					
						<td>
							<%=Result.where(aps: z.to_i).first.grade%>
						</td>
					
						<%(81..88).each do |i|%>
						<%x = i*(z+3765)%>
						<td style ="background-color:
						
						<%if on_track.include? x%>
						rgba(245,198,57,1)
						<%elsif one_above.include? x%>
						rgba(86,245,61,1)
						<%elsif below.include? x%>
						rgba(245,59,59,1)
						<%elsif x>71591%>
						rgba(73,165,191,1)
						<%end%>				
						; width:11%">
							<%x%>
								<%if test[z][i].count>0%>
							<div class="tooltip_hover" style="height:30px;" id="userdata" data-toggle="tooltip" data-original-title='<%test[z][i].each do |j|%><%=j%><%end%><br />' data-html="true">						
							<%=t=test[z][i].count%> | <%=(t*100/@u.count)%>%
							<br>
								</div>
							<%end%>
							
						</td>
							
							
						<%end%>				
					<%z+=2%>
					</tr>
					
					
				<%end%>
			</table>		

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>

		<%end%>		
			<%on_track= Array.new%>
			<%one_above= Array.new%>
			<%below= Array.new%>
			<%on_track = [49036,56580,64124,49062, 56610, 64158, 49088, 56640, 64192,71782 ,79338,
			86894,71820,79380, 86940,71858, 79422, 86986,94600,102168, 109736,94650, 102222,109794,
			94700,102276,109852,117490, 125070,132650,26376, 33912,41448,26390, 33930, 41470]%>
			
			<%one_above = [48984,56520,64056,49010,56550,64090,71668,79212,86756,71706,79254,86802,
			71744,79296,86848,94450,102006,109562,94500,102060,109620,94550,102114,109678,117304,
			124872,132440,117366,124938,132510,117428,125004,132580]%>
			<%below = [71896,79464,87032, 71934	,79506, 87078,71972, 79548, 87124,72010,79590,87170,94750,102330,109910] %>
			
		<%if current_user.school.primary == true%>		
		
			<div class="modal fade" id="ks1_matrix_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:850px;">
		<div class="modal-content">
			<div class="modal-header">
				<a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
				<h4 class="modal-title">KS2 - KS4 Transition Matrix</h4>
			</div>
			<div class="modal-body">

			<table class="table table-striped table-hover table-bordered">
			<tr>
			<td>Grade</td>
			<td>W</td>
			<td>W</td>
			<td>1c</td>
			<td>1b</td>
			<td>1a</td>
			<td>2c</td>
			<td>2b</td>
			<td>2a</td>
			<td>3c</td>
			<td>3b</td>
			<td>3a</td>
			<td>4c</td>
			<td>4b</td>
			<td>4a</td>
			<td>5c</td>
			<td>5b</td>
			<td>5a</td>
			</tr>
			<%z=3%>
				<%while z<26 do %>
					
					<tr>
					
						<td>
							<%=Result.where(aps: z.to_i).first.grade%>
						</td>
					<%i=3%>
						<%while i<36 do%>
						<%x = i*(z+3765)%>
						<td style ="background-color:
						
						<%if on_track.include? x%>
						rgba(245,198,57,1)
						<%elsif one_above.include? x%>
						rgba(86,245,61,1)
						<%elsif x<64431%>
						rgba(245,59,59,1)
						<%elsif below.include? x%>
						rgba(245,59,59,1)
						<%elsif x>71591%>
						rgba(73,165,191,1)
						<%end%>				
						; width:5.6%">
							<%x%>
								<%if test[z][i].count>0%>
							<div class="tooltip_hover" style="height:30px;" id="userdata" data-toggle="tooltip" data-original-title='<%test[z][i].each do |j|%>	<%if current_user.user_info.governor != true%><%=j%><%end%><br /><%end%><br />' data-html="true">						
							<%=t=test[z][i].count%> | <%=(t*100/@u.count)%>%
							<br>
								</div>
							<%end%>
							<%i+=1%>
							<%if test[z][i].count>0%>
							<div class="tooltip_hover" style="height:30px;" id="userdata" data-toggle="tooltip" data-original-title='<%test[z][i].each do |j|%><%=j%><br /><%end%><br />' data-html="true">						
							<%=t=test[z][i].count%> | <%=(t*100/@u.count)%>%
							<br>
								</div>
							<%end%>
						
							<%i=i-1%>
							<%z+=1%>
								<%if test[z][i].count>0%>
							<div class="tooltip_hover" style="height:30px;" id="userdata" data-toggle="tooltip" data-original-title='<%test[z][i].each do |j|%><%=j%><br /><%end%><br />' data-html="true">						
							<%=t=test[z][i].count%> | <%=(t*100/@u.count)%>%
							<br>
								</div>
							<%end%>
							<%i+=1%>
								<%if test[z][i].count>0%>
							<div class="tooltip_hover" style="height:30px;" id="userdata" data-toggle="tooltip" data-original-title='<%test[z][i].each do |j|%><%=j%><br /><%end%><br />' data-html="true">						
							<%=t=test[z][i].count%> | <%=(t*100/@u.count)%>%
							<br>
								</div>
							<%end%>
							<%z=z-1%>
							<%i+=1%>
						</td>
							
						<%end%>				
					<%z+=2%>
					</tr>
					
					
				<%end%>
			</table>		
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
		<%end%>

		<%i=1%>
<script>
$('#pie_chart_level').on('shown.bs.modal', function(event, ui) {
      plot4.replot();
  });
$('#pie_chart_targets').on('shown.bs.modal', function(event, ui) {
      plot3.replot();
  });
  $('#KS1_KS5_tc').on('shown.bs.modal', function(event, ui) {
      plot1.replot();
	  plot2.replot();
  });
  
    
if (plot1) {
	plot1.destroy();
	}
  var line1 = [
	<%@u.each do |p|%>
		<%if a = p.user_info%>		
			['<%if current_user.user_info.governor == true%>Pupil <%=i%><%else%><%=a.forename+" "+a.surname%><%end%>', <%if r = p.pupil_results.where(col_id: @col_id).where(locked: @locked).joins(:class_name).where("class_names.subject_id" => @subject_id).first%><%=r.result.aps-80%><%end%>],
			<%i+=1%>
		<%end%>  
	<%end%>
];
  var line2 = [
  <%@u.each do |p|%>
  	<%if a = p.user_info%>		
		['<%if current_user.user_info.governor == true%>Pupil <%=i%><%else%><%=a.forename+" "+a.surname%><%end%>', <%if r = p.pupil_results.where(col_id: @col_id).where(locked: @locked).joins(:class_name).where("class_names.subject_id" => @subject_id).first%><%if t = p.user_targets.where(subject_id: @subject_id).first%><%=t.result.aps-80%><%end%><%end%>],
	<%end%>  
  <%end%>
  ];
 
	 tickFormatter = function (format, val) { 
	 if(val==8)
	 {return "A*";}
	else if(val==7)
	 {return "A";}
	 else if(val==6)
	 {return "B";}
	 else if(val==5)
	 {return "C";}
	 else if(val==4)
	 {return "D";}
	 else if(val==3)
	 {return "E";}
	 else if(val==2)
	 {return "F";}
	 else if(val==1)
	 {return "G";}
	 else if(val==0)
	 {return "U";}
  }
  
  var plot1 = $.jqplot('chart1', [line1, line2], {
   animate: true,
   animateReplot: true,
    series:[{renderer:$.jqplot.BarRenderer, xaxis:'x2axis', yaxis:'y2axis',
	rendererOptions: {
                    // Speed up the animation a little bit.
                    // This is a number of milliseconds.  
                    // Default for bar series is 3000.  
                    animation: {
                        speed: 2500
                    },
                    barWidth: 15,
                    barPadding: -15,
                    barMargin: 0,
                    highlightMouseOver: false
                }
            }, 
            {
                rendererOptions: {
                    // speed up the animation a little bit.
                    // This is a number of milliseconds.
                    // Default for a line series is 2500.
                    animation: {
                        speed: 2000
                    }
                }
            }
	
	],
	title:'Assessment Results ',
	legend: {
            show: true,
            placement: 'outsideGrid',
			location: 's',
			labels: ['Results', 'Target'],
        },
    axesDefaults: {
		min: 0,
		max: 8,
        tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
        tickOptions: {
          angle: 0,
        }
    },
    axes: {
      xaxis: {
        renderer: $.jqplot.CategoryAxisRenderer,
		label:'Students', 
          labelOptions:{
            fontFamily:'Helvetica',
            fontSize: '12pt'
          },
		  tickOptions: {
          angle: -90,
        },
      },
      x2axis: {
        renderer: $.jqplot.CategoryAxisRenderer,
		tickOptions: {
          show: false,
		  showLabel: false,
		  textColor: '#ffffff'
        },
				  showTicks: false,
				    showTickMarks: false
      },
      yaxis: {
         label: 'Grade',
                labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
		  tickOptions: {
		  formatter: tickFormatter
		  },
		   tickInterval : 1,
		  
      },
      y2axis: {
        autoscale:true,
		tickOptions: {
		  formatter: tickFormatter
		  },
		  tickInterval : 1,
      }
    },
	 highlighter: {
        show: true,
        sizeAdjust: 7.5,
		tooltipAxes: 'y',
		formatString: 'Grade: %s'
      }
      

  });

</script>
<%i=1%>
<script>
if (plot2) {
	plot2.destroy();
	}
var line1 = [
	<%@u.each do |p|%>
		<%if a = p.user_info%>		
			['<%if current_user.user_info.governor == true%>Pupil <%=i%><%else%><%=a.forename+" "+a.surname%><%end%>', <%if r = p.pupil_results.where(col_id: @col_id).where(locked: @locked).joins(:class_name).where("class_names.subject_id" => @subject_id).first%><%=r.result.aps%><%end%>],
			<%i+=1%>
		<%end%> 
		
	<%end%>
];
  var line2 = [
  <%@u.each do |p|%>
  	<%if a = p.user_info%>		
		[<%if current_user.user_info.governor == true%>Pupil <%=i%><%else%><%=a.forename+" "+a.surname%><%end%>', <%if r = p.pupil_results.where(col_id: @col_id).where(locked: @locked).joins(:class_name).where("class_names.subject_id" => @subject_id).first%><%if t = p.user_targets.where(subject_id: @subject_id).first%><%=t.result.aps%><%end%><%end%>],
	<%end%>  
  <%end%>
  ];
 
	 tickFormatter = function (format, val) { 
	 if(val>=53)
	 {return "8a";}
	 else if(val>=51)
	 {return "8b";}
	 else if(val>=49)
	 {return "8c";}
	 else if(val>=47)
	 {return "7a";}
	 else if(val>=45)
	 {return "7b";}
	 else if(val>=43)
	 {return "7c";}
	 else if(val>=41)
	 {return "6a";}
	 else if(val>=39)
	 {return "6b";}
	 else if(val>=37)
	 {return "6c";}
	 else if(val>=35)
	 {return "5a";}
	 else if(val>=33)
	 {return "5b";}
	 else if(val>=31)
	 {return "5c";}
	 else if(val>=29)
	 {return "4a";}
	 else if(val>=27)
	 {return "4b";}
	 else if(val>=25)
	 {return "4c";}
	 else if(val>=23)
	 {return "3a";}
	 else if(val>=21)
	 {return "3b";}
	 else if(val>=19)
	 {return "3c";}
	 else if(val>=17)
	 {return "2a";}
	 else if(val>=15)
	 {return "2b";}
	 else if(val>=13)
	 {return "2c";}
	 else if(val>=11)
	 {return "1a";}
	 else if(val>=9)
	 {return "1b";}
	 else if(val>=7)
	 {return "1c";}
	 else if(val>=3)
	 {return "W";}
  }
  
  var plot2 = $.jqplot('chart2', [line1, line2], {
    
   animate: true,
   animateReplot: true,
	series:[{renderer:$.jqplot.BarRenderer, xaxis:'x2axis', yaxis:'y2axis',
	rendererOptions: {
                    // Speed up the animation a little bit.
                    // This is a number of milliseconds.  
                    // Default for bar series is 3000.  
                    animation: {
                        speed: 2500
                    },
                    barWidth: 15,
                    barPadding: -15,
                    barMargin: 0,
                    highlightMouseOver: false
                }
            }, 
            {
                rendererOptions: {
                    // speed up the animation a little bit.
                    // This is a number of milliseconds.
                    // Default for a line series is 2500.
                    animation: {
                        speed: 2000
                    }
                }
            }
	
	
	],
	title:'Assessment Results ',
	legend: {
            show: true,
            placement: 'outsideGrid',
			location: 's',
			labels: ['Results', 'Target'],
        },
    axesDefaults: {
		min: 3,
		max: 53,
        tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
        tickOptions: {
          angle: 0,
        },
    },
    axes: {
      xaxis: {
        renderer: $.jqplot.CategoryAxisRenderer,
		label:'Students	', 
          labelOptions:{
            fontFamily:'Helvetica',
            fontSize: '12pt'
          },
		  tickOptions: {
          angle: -90
        },
      },
      x2axis: {
        renderer: $.jqplot.CategoryAxisRenderer,
		tickOptions: {
          show: false,
		  showLabel: false,
		  textColor: '#ffffff'
        },
				  showTicks: false,
				    showTickMarks: false
      },
      yaxis: {
         label: 'Grade',
                labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
		  tickOptions: {
		  formatter: tickFormatter
		  },
		   tickInterval : 2,
		  
      },
      y2axis: {
        autoscale:true,
		tickOptions: {
		  formatter: tickFormatter
		  },
		  tickInterval : 2,
      }
    },
	 highlighter: {
        show: true,
        sizeAdjust: 7.5,
		tooltipAxes: 'y',
		formatString: 'Grade: %s'
      }
      

  });
	
	var aps = '<%=avg_aps%>'
					$(document).ready(function () {
					if (aps>0 && aps<54)
					{
					$("#chart1").hide();
					$("#chart2").show();
					}
					else if (aps>79)
					{
					$("#chart2").hide();
					$("#chart1").show();
					
					}
					else if (aps==0)
					{
					$("#chart2").hide();
					$("#chart1").hide();
					}
				});
				</script>
				
<script type='text/javascript'>				
				if (plot3) {
	plot3.destroy();
	}
  var data = [
    ['Above Target', <%=@above.count%>],['On Track', <%=@on_track.count%>], ['One Below Target', <%=@one_below.count%>], 
    ['Below Target', <%=@below.count%>]
  ];
  var plot3 = jQuery.jqplot ('pie_chart', [data], 
    { 
      title:'Comparison to Target Grade',
	  seriesDefaults: {
	  seriesColors: ["rgba(73,165,191,1)","rgba(78,230,55,1)","rgba(254,182,69,1)", "rgba(252,70,70,1)"],
        // Make this a pie chart.
        renderer: jQuery.jqplot.PieRenderer, 
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true
        }
      }, 
      legend: { show:true, location: 'e' },
	  highlighter: {
    show: true,
    formatString:'%s', 
    tooltipLocation:'sw', 
    useAxesFormatters:false
}
    }
  );


</script>

<script type='text/javascript'>				
				if (plot4) {
	plot4.destroy();
	}
  var data = [
	<%(-50..50).each do |i|%>
	<%if @levels.count(i) != 0%>
	['<%=i%> levels', <%=@levels.count(i)%>],  
	<%end%>
    <%end%>
  ];
  var plot4 = jQuery.jqplot ('pie_chart_levels', [data], 
    { 
      title:'Levels of Progress',
	  seriesDefaults: {
	  seriesColors: ["rgba(73,165,191,1)","rgba(78,230,55,1)","rgba(254,182,69,1)", "rgba(252,70,70,1)"],
        // Make this a pie chart.
        renderer: jQuery.jqplot.PieRenderer, 
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true,
          
		  
        }
      }, 
      legend: { show:true, location: 'e' },
	  highlighter: {
    show: true,
	
    formatString:'%s', 
    tooltipLocation:'sw', 
    useAxesFormatters:false
}
    }
  );


</script>

<script>
$('body').tooltip({
    trigger: 'click',
	selector: '[id=userdata]',
	html: true,
	placement: 'top'
});
</script>