<%= form_for @user_info do |f| %>
  <%= f.error_messages %>
<div class="row">
	<div class="col-md-2">
			<%= f.label :forename %><br />
		<%= f.text_field :forename %>
	</div>	  
	<div class="col-md-2">
			<%= f.label :surname %><br />
			<%= f.text_field :surname %>
	</div>
	<div class="col-md-2">
			<%= f.label :gender %><br />
			<%= f.text_field :gender %>
	</div>
	<%if current_user.school.secondary == true%>
		<div class="col-md-2">	
				<%= f.label :ks2_english %><br />
				<%= f.collection_select(:ks2_english, Result.order("aps asc").all, :id, :grade, {prompt: 'Select', :include_blank => true}, {class: 'form-control'})%>
		</div>
		<div class="col-md-2">
				<%= f.label :ks2_maths %><br />
				<%= f.collection_select(:ks2_maths, Result.order("aps asc").all, :id, :grade, {prompt: 'Select', :include_blank => true}, {class: 'form-control'})%>
		</div>
		<div class="col-md-2">
				<%= f.label :ks2_science %><br />
				<%= f.collection_select(:ks2_science, Result.order("aps asc").all, :id, :grade, {prompt: 'Select', :include_blank => true}, {class: 'form-control'})%>
		</div>
	<%end%>
</div>	
<br />
<div class="row">
	<div class="col-md-2">
		<%= f.label :pupil %><br />
		<%= f.check_box :pupil%>
	</div>
	<div class="col-md-2">
		<%= f.label :teacher %><br />
		 <%= f.check_box :teacher%>
	</div>
	<div class="col-md-2">
		<%= f.label :slt %><br />
		 <%= f.check_box :slt%>
	</div>

	<div class="col-md-2">
		<%= f.label :ks1_english %><br />
		<%= f.collection_select(:ks1_english, Result.order("aps asc").all, :id, :grade, {prompt: 'Select', :include_blank => true}, {class: 'form-control'})%>
	</div>
	<div class="col-md-2">	
		<%= f.label :ks1_maths %><br />
		<%= f.collection_select(:ks1_maths, Result.order("aps asc").all, :id, :grade, {prompt: 'Select', :include_blank => true}, {class: 'form-control'})%>
	</div>
	<div class="col-md-2">
		<%= f.label :ks1_writing %><br />
		<%= f.collection_select(:ks1_writing, Result.order("aps asc").all, :id, :grade, {prompt: 'Select', :include_blank => true}, {class: 'form-control'})%>
	</div>

</div>
<br />

<div class="row">
	<div class="col-md-2">
		<%= f.label :ks1_reading %><br />
		<%= f.collection_select(:ks1_reading, Result.order("aps asc").all, :id, :grade, {prompt: 'Select', :include_blank => true}, {class: 'form-control'})%>
	</div>
	<div class="col-md-2">
		<b>Classes:</b>
		  <%= f.fields_for :user_classes do |builder| %>
		   <div class="field" style="margin-bottom:5px">
			<%= builder.collection_select(:class_id, ClassName.all, :id, :class_name,{:include_blank => true}, {class: 'form-control'}) %>
		  </div>
		<% end -%>
		<div>
		Add a Class
		<%= fields_for :new_class, @new_class do |builder| %>
			<%= builder.collection_select(:class_id, ClassName.all, :id, :class_name,{prompt: 'Select a Class'}, {class: 'form-control'}) %>
			<%=builder.hidden_field :user_id, :value => params[:id]%>
		<%end%>
		</div>
		<%=link_to 'Delete Classes', :controller => :user_classes, :action => :delete_classes, :user_id => params[:id], :user_infos => params[:user_infos]%>
	</div>
	<div class="col-md-2">
		<b>Groups:</b>
		  <%= f.fields_for :user_groups do |builder| %>
		   <div class="field" style="margin-bottom:5px">
			<%= builder.collection_select(:group_id, Group.all, :id, :group,{}, {class: 'form-control'}) %>
			</div>
		<% end -%>
			<div>
		  Add a Groups
		<%= fields_for :new_group, @new_group do |builder| %>
			<%= builder.collection_select(:group_id, Group.all, :id, :group,{prompt: 'Select a Group'}, {class: 'form-control'}) %>
			<%=builder.hidden_field :user_id, :value => params[:id]%>
		<%end%>
		</div>
		<%=link_to 'Delete Groups', :controller => :user_groups, :action => :delete_groups, :user_id => params[:id], :user_infos => params[:user_infos]%>
		</div>
	
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-6">
			<b>Subject</b>
			</div>
			<div class="col-md-6">
			<b>Target</b>
			</div>
		</div>	
		<%= f.fields_for :user_targets do |builder| %>
			<div class="row">
				<div class="col-md-6">
					<%= builder.collection_select(:subject_id, Subject.all, :id, :subject,{}, {class: 'form-control'}) %> 
				</div>
				<div class="col-md-6">
					<%= builder.collection_select(:target, Result.all, :id, :grade,{}, {class: 'form-control'}) %>
				</div>
			</div>
		<% end -%>
		
		<div>
		  Add a Subject with a Target
		<%= fields_for :new_subject_target, @new_subject_target do |builder| %>
			<%=builder.hidden_field :user_id, :value => params[:id]%>
			<div class="row">
				<div class="col-md-6">
				<%= builder.collection_select(:subject_id, Subject.all, :id, :subject,{prompt: 'Select a Subject'}, {class: 'form-control'}) %>
				</div>
				<div class="col-md-6">
				<%= builder.collection_select(:target, Result.all, :id, :grade,{prompt: 'Select a Target'}, {class: 'form-control'}) %>
				</div>
			</div>
		<%end%>
		</div>
				<%=link_to 'Delete Targets', :controller => :user_targets, :action => :delete_subject_targets, :user_id => params[:id], :user_infos => params[:user_infos]%>
	</div>
</div>
  <%= f.submit %>
<% end %>
