
<table class="table table-striped table-hover">
  <tr>
	<th>ID</th>
    <th>Email</th>
    <th>Forename</th>
	<th>Surname</th>
	<th></th>
	<th></th>
	</tr>
  <% for users in @teachers %>
    <tr>
	
      
	  <td><b><%= users.id %></b></td>
	  <td><%= users.email %></td>
	  
	  
	  <% if !users.user_info.nil?%>
	  <td><%= users.user_info.forename %></td>
      <td><%= users.user_info.surname %></td>

		<td><%= link_to "Edit", edit_user_info_path(users, :user_infos => users.user_info.id) %></td>
	  <td><%= link_to "Delete", user_info_path(users, :user_info => users.user_info.id), :confirm => 'Are you sure?', :method => :delete %></td>
	  <%end%>
	  
      
    </tr>
  <%end%>
</table>

