
<%=current_user.school.name%>
<br />
<b>Timetable Weeks:</b>
<%=current_user.school.number_weeks%>
<b>Number of Periods:</b>
<%=current_user.school.number_periods%>

<br />
<%=link_to 'Add Classes', class_names_path%>
<br />
<%=link_to 'Add Subjects', subjects_path%>
<br />
<%=link_to 'Add Groups', groups_path%>
<br />

<%=link_to 'Lock Columns for Classes', title_classes_path%>
<br />
<%=link_to 'Import Timetables', import_classes_timetables_path%>
<br />
<%=link_to 'View Timetables', timetables_path%>
<%= render 'admin'%>
<h3>Teachers</h3>
<br />
<%if params[:teachers] != 'show'%>
<%= link_to 'Show Teachers', user_infos_path(teachers: 'show')%> 
<%else%>
<%= link_to 'Hide Teachers', user_infos_path(teachers: 'hide')%> 
<%= render 'teachers'%>
<%end%>

<%= render 'pupils'%>


