<%= form_for(@user_class) do |f| %>
  <% if @user_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_class.errors.count, "error") %> prohibited this user_class from being saved:</h2>

      <ul>
      <% @user_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :class_id %><br>
    <%= f.number_field :class_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
