<%= form_for @user do |f| %>

  <%= f.error_messages %>
  <%= f.fields_for :user_info do |builder| %>
  <p>
    <%= builder.label :forename %><br />
    <%= builder.text_field :forename%>
  </p>
  <p>
    <%= builder.label :surname %><br />
    <%= builder.text_field :surname%>
  </p>
  
  <p>
    <%= builder.label :ks2_english %><br />
    <%= builder.collection_select(:ks2_english, Result.order("aps asc").all, :id, :grade, :prompt => 'Select')%>
  </p>
  <p>
    <%= builder.label :ks2_maths %><br />
    <%= builder.collection_select(:ks2_maths, Result.order("aps asc").all, :id, :grade, :prompt => 'Select')%>
  </p>
  <p>
    <%= builder.label :ks1_english %><br />
    <%= builder.collection_select(:ks1_english, Result.order("aps asc").all, :id, :grade, :prompt => 'Select')%>
  </p>
  <p>
    <%= builder.label :ks1_maths %><br />
    <%= builder.collection_select(:ks1_maths, Result.order("aps asc").all, :id, :grade, :prompt => 'Select')%>
  </p>
  <p>
    <%= builder.label :ks1_writing %><br />
    <%= builder.collection_select(:ks1_writing, Result.order("aps asc").all, :id, :grade, :prompt => 'Select')%>
  </p>
  <p>
    <%= builder.label :ks1_reading %><br />
    <%= builder.collection_select(:ks1_reading, Result.order("aps asc").all, :id, :grade, :prompt => 'Select')%>
  </p>
  <p>
  <%= builder.label :pupil %><br />
  <%= builder.check_box :pupil%>
  </p>
  <p>
  <%= builder.label :teacher %><br />
  <%= builder.check_box :teacher%>
  </p>
  <%end%>
	  <%= f.fields_for :user_classes do |builder| %>
	<p>	
	<%= builder.label :class_id %><br />
    <%= builder.collection_select(:class_id, ClassName.order("class_name asc").all, :id, :class_name, :prompt => 'Select')%>
	</p>
	<%end%>
	
	<%= f.fields_for :user_groups do |builder| %>
	<p>	
	<%= builder.label :group_id %><br />
    <%= builder.collection_select(:group_id, Group.all, :id, :group, :prompt => 'Select')%>
	</p>
	<%end%>
	
	
	<%= f.fields_for :user_targets do |builder| %>
	<p>	
	<%= builder.label :subject_id %><br />
    <%= builder.collection_select(:subject_id, Subject.order("subject asc").all, :id, :subject, :prompt => 'Select')%>
	</p>
	
	<p>	
	<%= builder.label :target %><br />
    <%= builder.collection_select(:target, Result.order("aps asc").all, :id, :grade, :prompt => 'Select')%>
	</p>
	<%end%>
  
  <p><%= f.submit %></p>
<% end %>
