<%= form_for :titles, :url => update_lock_columns_title_classes_path, :html => { :method => :put } do %>
  <% if @title_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@title_class.errors.count, "error") %> prohibited this title_class from being saved:</h2>

      <ul>
      <% @title_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
	<%= fields_for "add_titles[]", TitleClass.new do |builder| %>			
		<%(1..16).each do |t|%>
		<div class="col-xs-2">
			<div class="field">
				Title <%=t%>
				<%= builder.text_field :title, :placeholder => 'Enter Title ...', :class =>"form-control" %>
			</div>
		</div>
		<div class="col-xs-1">
			<div class="field">
				Column
				<%= builder.select :col_id,(1..99),{:selected => t.to_i},:class =>"form-control" %>
			</div>
		</div>
		<%end%>
	<%end%>
</div>
  <br />
    <div class="actions">
		<button type="button" id="check_all" class="btn btn-success">Check / Uncheck All</button>
		<%= submit_tag 'Submit', {:class=>"btn"}%>
	</div>
  <br />
	<div class="row">
		<%@years.each do |y|%>
			<div class="col-md-1">
			<div>
				Year <%=y%>
			</div>
			<%@subjects.each do |s|%>
				<div>
				<%if !@class_names.where(year_id: y).where(subject_id:s).empty?%>
					<%if Subject.where(id: s).first%>
						<%=Subject.where(id: s).first.subject%>
					<%end%>
				<%end%>
				</div>
				<%@class_names.where(year_id: y).where(subject_id:s).each do |c|%>
					<%= fields_for "add_classes[]", TitleClass.new do |builder| %>			
						<div class="row">
							<div class="col-md-8 text-center">
								<%=c.class_name%>
								
							</div>
							<div class="col-md-4 text-center">	
								<%=builder.check_box :locked%>
							</div>
						</div>
						<%=builder.hidden_field :class_id, value: c.id%>
					<%end%>
					<hr style="margin:2px;">
				<%end%>
			<%end%>
			</div>
		<%end%>
	</div>

<% end %>
<script type='text/javascript'>
    $('#check_all').on("click", function(){ $('input[type="checkbox"]').click(); });
</script>