

<%= form_tag delete_multiple_titles_title_classes_path,  method: :delete do %>

		<%if @locked ==true%>
		<h3>Locked Titles</h3>
		<%else%>
		<h3>Unlocked Titles</h3>
		<%end%>
	
	
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Class</th>
			<th>Column</th>
			<th>Locked</th>
			<th>Edit</th>
			<th>Delete</th>
			<th>Delete Multiple</th>
		</tr>
	</thead>
	<tbody>
    <% @title_classes.includes(:class_name).where("class_names.school_id" => current_user.school_id).where(locked: @locked).each do |title_class| %>
		<tr>
			<td><%= title_class.title %></td>
			<td><%if title_class.class_name%><%= title_class.class_name.class_name %><%end%></td>
			<td><%= title_class.col_id %></td>
			<td><%= title_class.locked.to_s.upcase %></td>
			<td><%= link_to 'Edit', edit_title_class_path(title_class) %></td>
			<td><%= link_to 'Delete', title_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<td><%= check_box_tag "delete_titles[]", title_class.id%></td>
		</tr>
    <% end %>
	</tbody>
</table>
<%end%>
<br />
<%=submit_tag "Delete Seleceted", data: { confirm: "Are you sure?" }, :class => "btn btn-primary pull-right"%>

