<%@sign_in = true%>


<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
            </div>
          </div>

          <div class="inner cover">
			<%= image_tag("/assets/logo2.png", style:"width:600px")%>
			
			<center>
			<div style="width:450px; height:163px; margin-top:20px;">
				
			
				<p class="lead" >
			
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  				<div class="input-group input-group-sm">
					<span class="input-group-addon">@</span>
					<%= f.text_field :login, :autofocus => true, :class => "form-control" %>
				</div>
				<br />
				<br />
				<div class="input-group input-group-sm">
					<span class="input-group-addon">p</span>
					<%= f.password_field :password, :class => "form-control" %></div>
				<br />
 
				<%= f.submit "Sign in", :class => "btn btn-success" %></div>
			<% end %>
				
			</p>
            </div>
			<p class="lead">
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('Login', new_user_session_path, style: "width:90px", :class =>"btn btn-small btn-default") %>
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('About Us', static_pages_about_path, style: "width:90px" , :class => "btn btn-small btn-default") %>
					
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('Free Trial', static_pages_features_path, style: "width:90px", :class => "btn btn-small btn-warning") %>
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('Features', static_pages_features_path, style: "width:90px", :class => "btn btn-small btn-default") %>
				</div>
				<div class="col-md-2 text-center">
					<%= link_to('Contact', static_pages_features_path, style: "width:90px" , :class => "btn btn-small btn-default") %>
				</div>
				<div class="col-md-1">
				</div>
			</div>
			  
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              
            </div>
          </div>

        </div>

      </div>

    </div>

<div style="margin-top:30px; width:40%;">

</div>