<%@sign_in = true%>


<div style="margin-top:30px; width:40%;">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :login %><br />
  <%= f.text_field :login, :autofocus => true, :class => "form-control" %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :class => "form-control" %></div>

 
  <div style="margin-top:20px;"><%= f.submit "Sign in" %></div>
<% end %>
</div>