<%= form_for(@class_name) do |f| %>
  <% if @class_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_name.errors.count, "error") %> prohibited this class_name from being saved:</h2>

      <ul>
      <% @class_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :class_name %><br>
    <%= f.text_field :class_name, :class => "form-control" %>
  </div>
    <div class="field">
    <%= f.label :subject_id %><br>
    <%= f.collection_select :subject_id, Subject.all, :id, :subject, {:include_blank => true}, :class => "form-control" %>
  </div>
    <div class="field">
    <%= f.label :year_id %><br>
    <%= f.text_field :year_id, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
