<h3>Classes</h3>


	<table class="table table-striped table-hover">
	  <thead>
		<tr>
		  <th>Class name</th>
		  <th>Subject</th>
		  <th>Year</th>
		  <th></th>
		</tr>
	  </thead>

	  <tbody>
		<% @class_names.each do |class_name| %>
		  <tr>
		  <td>
			<%=link_to class_name.class_name, pupil_results_path(:class_id=>class_name.id)%>
			</td>
			<td>
			<%if c = class_name.subject%>
			<%= c.subject %>
			<%end%>
			</td>
			<td>
			<%= class_name.year_id %>
			</td>
			<td><%= link_to 'Edit', edit_class_name_path(class_name) %></td>
			
		  </tr>
		<% end %>
	  </tbody>
	</table>

<br>


<%=link_to('Delete All',{:controller => :class_names, :action => :delete_many_cl}, data: { confirm: 'Are you sure?' })%>
