<h1>Listing subject_classes</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Class</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subject_classes.each do |subject_class| %>
      <tr>
        <td><%= subject_class.subject.subject %></td>
        <td>
		<%if subject_class.class_name%>
		<%= subject_class.class_name.class_name %>
		<%end%>
		</td>
		
        <td><%= link_to 'Show', subject_class %></td>
        <td><%= link_to 'Edit', edit_subject_class_path(subject_class) %></td>
        <td><%= link_to 'Destroy', subject_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="row-fluid">
<div class="span6">
</div>
<div class="span4 center">
<div style="margin-top:40px;">
<H5>Import your data</H5>
<br />
Click on select file to browse to the file you have now filled with student data. 
Then click import.
</div>
<div style="margin-top:50px">
<%= form_tag import_subject_classes_path, multipart: true do %>
    <div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="input-append">
    <div class="uneditable-input span3">
	<i class="icon-file fileupload-exists"></i> 
	<span class="fileupload-preview"></span>
	</div><span class="btn btn-file">
	<span class="fileupload-new">Select file</span>
	<span class="fileupload-exists">Change</span>
	<%= file_field_tag :file %>
	</span>
	<%= submit_tag "Import", class: "btn fileupload-exists btn-danger" %>
<%end%>
	</div>
</div>
</div>



<%= link_to 'New Subject class', new_subject_class_path %>
