<h1>Listing user_targets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Subject</th>
      <th>Target</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_targets.each do |user_target| %>
      <tr>
        <td><%= user_target.user_id %></td>
        <td><%= user_target.subject_id %></td>
        <td><%= user_target.target %></td>
        <td><%= link_to 'Show', user_target %></td>
        <td><%= link_to 'Edit', edit_user_target_path(user_target) %></td>
        <td><%= link_to 'Destroy', user_target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row-fluid">
<div class="span6">
</div>
<div class="span4 center">
<div style="margin-top:40px;">
<H5>Import your data</H5>
<br />
Click on select file to browse to the file you have now filled with student data. 
Then click import.
</div>
<div style="margin-top:50px">
<%= form_tag import_user_targets_path, multipart: true do %>
    <div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="input-append">
    <div class="uneditable-input span3">
	<i class="icon-file fileupload-exists"></i> 
	<span class="fileupload-preview"></span>
	</div><span class="btn btn-file">
	<span class="fileupload-new">Select file</span>
	<span class="fileupload-exists">Change</span>
	<%= file_field_tag :file %>
	</span>
	<%= submit_tag "Import", class: "btn fileupload-exists btn-danger" %>
<%end%>
	</div>
</div>
</div>



<%= link_to 'New User target', new_user_target_path %>
