<!DOCTYPE html>
<html>
  <head>
<script class="include" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <title><%= content_for?(:title) ? yield(:title) : "MySchoolPal" %></title>
	<%= stylesheet_link_tag "application"%>
	<%= stylesheet_link_tag 'application-print', :media => 'print'%>
	<%= javascript_include_tag "application" %>
	
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>

	<div class="navbar navbar-static-top">
        <div class="navbar-inner">
		<div class="container-fluid">
		<ul class="nav">
			<% if current_user%>
			
				<li><%= link_to "Start", user_classes_path %></li>
				<li style="width:300px; color:#000;"><%= link_to "Change your password", edit_user_registration_path %></li>
						
					
				
				
				
				<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
				
			<%else%>
				<li><%= link_to('Home', static_pages_home_path) %></li>
				<li><%= link_to('About', static_pages_about_path) %></li>
				<li><%= link_to('Contact', static_pages_contact_path) %></li>
				<li><%= link_to('Help', static_pages_help_path) %></li>
				<li><%= link_to('Login', new_user_session_path) %></li>
			<%end%>    
		</ul>
		</div>
	</div>
  </div>
  <div class="container">
	
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
<script>
$('.dropdown-toggle').dropdown()
</script>