<!DOCTYPE html>
<html>
  <head>
<script class="include" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <title><%= content_for?(:title) ? yield(:title) : "MySchoolPal" %></title>
	<%= stylesheet_link_tag "application-print",  :media => 'print'%> 
	<%= stylesheet_link_tag "application",  :media => 'screen'%>
	
	<%= javascript_include_tag "application" %>
	
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body class="<%= @home ? 'home' : ''%>">

	<div class="navbar navbar-static-top">
        <div class="navbar-inner">
		<div class="container-fluid">
		<ul class="nav">
			<% if current_user%>
			
				<li><%= link_to "Start", user_classes_path %></li>
				<li style="width:300px; color:#000;"><%= link_to "Change your password", edit_user_registration_path %></li>
				<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
				
			<%else%>
				<%if @home%>
				<li class="active"><%= link_to('Home', static_pages_home_path, :class =>"active") %></li>
				<%else%>
				<li><%= link_to('Home', static_pages_home_path) %></li>
				<%end%>
				<li><%= link_to('About', static_pages_about_path) %></li>
				<li><%= link_to('Features', static_pages_features_path) %></li>
				<li><%= link_to('Contact', static_pages_contact_path) %></li>
				<li><%= link_to('Login', new_user_session_path) %></li>
			<%end%>    
		</ul>
		</div>
	</div>
  </div>
  <%if @about %>
  <div class="top1">
  	<p class="about-title">About</p>
	<p class="about-subtitle">Helping students make progress, whilst keeping things simple</p>
  </div>
  <%end%>
  <%if @contact %>
  <div class="top1">
  	<p class="about-title">Contact</p>
	<p class="about-subtitle">Give us a call to see how we can help</p>
  </div>
  <%end%>
  <%if @features %>
  <div class="top1">
  	<p class="about-title">Features</p>
	<p class="about-subtitle">Interactive features that support your students progress</p>
  </div>
  <%end%>
  <%if @sign_in %>
  <div class="top1">
  	<p class="about-title">Login</p>
	<p class="about-subtitle">Sign in to use the interactive tools</p>
  </div>
  <%end%>
  <div class="container">
	<%if current_user%>
		<%if current_user.admin == true %>
			<h1><%=current_user.school.name%></h1>
			<ul class="nav nav-tabs" id="myTab" style="margin-bottom:10px;">
				
				<%if params[:user_info]=='true'%>
				<li class="active"><%=link_to 'School Info', user_infos_path(user_info:true)%></li>
				<%else%>
					<li><%=link_to 'School Info', user_infos_path(user_info:true)%></li>
				<%end%>
				
				
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					 Teachers<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
					<li><%= link_to 'Add Teachers', new_user_info_path%> </li>
					<li><%= link_to 'View Teachers', user_infos_path(teachers: 'show')%> </li>	
					</ul>
				</li>
					
				
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					 Pupils<span class="caret"></span>
					</a>
					
					<ul class="dropdown-menu">
					<li><%= link_to 'Add Pupils', new_user_info_path%> </li>
					<%if current_user.school.secondary ==true%>
						<%i=7%>
						<%y=13%>
					<%elsif current_user.school.primary ==true%>
					<%i=1%>
					<%y=6%>
					<%end%>
						<%(i..y).each do |j|%>
							<%if j == params[:year].to_i%>
								<li class="active"><%= link_to 'Year ' + j.to_s, user_infos_path(year: j, pupils: 'show')%> </li>
							<%else%>
								<li><%= link_to 'Year ' + j.to_s, user_infos_path(year: j, pupils: 'show')%> </li>
							<%end%>
						<%end%>		
					</ul>
				</li>
			
				
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					 Classes<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><%=link_to 'Add Classes', new_class_name_path%></li>
						<li><%=link_to 'View Classes', class_names_path%></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					 Subjects<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><%=link_to 'Add Subjects', new_subject_path%></li>
						<li><%=link_to 'View Subjects', subjects_path%></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					 Groups<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><%=link_to 'Add Groups', new_group_path%></li>
						<li><%=link_to 'View Groups', groups_path%></li>
					</ul>
				</li>
				
				
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					 Timetable<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><%=link_to 'Import Timetables', import_classes_timetables_path%></li>
						<li><%=link_to 'View Timetables', timetables_path%></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					 Lock Columns<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><%=link_to 'View Locked Titles', title_classes_path(locked: true)%></li>
						<li><%=link_to 'New Locked Titles', new_title_class_path%></li>
					</ul>
				</li>
				
				
			</ul>
		<%end%>
	<%end%>
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
<script>
$('.dropdown-toggle').dropdown()
</script>